<div>
  <h1 class="header" style="text-align: center;">Login</h1>
  <form style="text-align: center;" [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <mat-form-field class="mat-form-field">
      <mat-label>Username</mat-label>
      <input type="username" matInput formControlName="username" placeholder="" name="username">
      <mat-error>
        Username must be between 2 and 20 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="" name="password">
      <mat-error>
        Password must be between 4 and 16 characters
      </mat-error>
    </mat-form-field>

    <div class="button">
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid"></button>
    </div>

    <div class="text-center">
      <a routerLink="/signup"> Sign Up</a>
    </div>
  </form>
</div>