<h2>Chelsea Fan Page</h2>
<h3 class="positionHead"></h3>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kepa Arrizabalaga </mat-card-title>
      <mat-card-subtitle>Goalkeeper</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Kepa_-_portrait_-_july20" alt="Photo of a Kepa">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">
        Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Willy Caballero</mat-card-title>
      <mat-card-subtitle>Goalkeeper</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Caballero_-_portrait_-_july20">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Edouard Mendy</mat-card-title>
      <mat-card-subtitle>Goalkeeper</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Edouard_Mendy_RT">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
<h3 class="positionHead">Defenders</h3> 
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Antonio Rudiger</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Rudiger_-_portrait_-_july20">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Marcos Alonso</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Alonso_-_portrait_-_july20">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Andreas Christensen</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Christensen_-_portrait_-_july20">
    <mat-card-content>
      <p>
     
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Thiago Silva</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Thiago_Silva_-profile_20-21">
    <mat-card-content>
      <p>
    
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Fikayo Tomori</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Tomori_-_portrait_-_july20">
    <mat-card-content>
      <p>
  
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kurt Zouma</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Zouma_-_portrait_-_july20">
    <mat-card-content>
      <p>
   
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ben Chilwell</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_north,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Ben_Chilwell_profile_20-21">
    <mat-card-content>
      <p>
        PERSONAL INFORMATION
Name
Ben Chilwell
DATE OF BIRTH
December 21, 1996 (age 23)
Birthplace
Milton Keynes
Height
1.78m (5 ft 10 in)
Weight
77 kg
Position
Defender
Number
21
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>Player Information
        <a routerLink="/playerinfo"></a>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Reece James</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/James_-_portrait_-_july20">
    <mat-card-content>
      <p>
        PERSONAL INFORMATION
Name
Reece James
DATE OF BIRTH
December 8, 1999 (age 20)
Birthplace
London, England
Height
1.75m (5 ft 9 in)
Weight
87 kg
Position
Defender
Number
24
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>Player Information
        <a routerLink="/playerinfo"></a>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cesar Azpilicueta</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Azpi_-_portrait_-_july20">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Emerson Palmieri</mat-card-title>
      <mat-card-subtitle>Defender</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Palmieri_-_portrait_-_july20">
    <mat-card-content>
      <p>
     
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
<h3 class="postionHead">Midfielders</h3>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jorginho</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_faces,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Jorginho_-_portrait_-_july20">
    <mat-card-content>
      <p>
     
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>NGolo Kante</mat-card-title>
      <mat-card-subtitle>Midfielders</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Kante_-_portrait_-_july20">
    <mat-card-content>
      <p>
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ruben Loftus-Cheek</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Loftus_Cheek_-_portrait_-_july20">
    <mat-card-content>
      <p>
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mateo Kovacic</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Kovacic_-_portrait_-_july20">
    <mat-card-content>
      <p>
      
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mason Mount</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Mount_-_portrait_-_july20">
    <mat-card-content>
      <p>
     
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hakim Ziyech</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Ziyech_-_portrait_-_aug20">
    <mat-card-content>
      <p>
      
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Billy Gilmour</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Gilmour_-_portrait_-_july20">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kai Havertz</mat-card-title>
      <mat-card-subtitle>Midfielder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Havertz_DSC_5324RGB">
    <mat-card-content>
      <p>
      
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
<h3 class="positionHead">Forwards</h3>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tammy Abraham</mat-card-title>
      <mat-card-subtitle>Forward</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Abraham_-_portrait_-_july20">
    <mat-card-content>
      <p>
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Christian Pulisic </mat-card-title>
      <mat-card-subtitle>Forward</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Pulisic_-_portrait_-_july20">
    <mat-card-content>
      <p>   
       
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Timo Werner</mat-card-title>
      <mat-card-subtitle>Forward</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Werner_-_portrait_-_july20">
    <mat-card-content>
      <p>       
     
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Oliver Giroud</mat-card-title>
      <mat-card-subtitle>Forward</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="opacity: 1; background-image: url("https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_face,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Giroud_-_portrait_-_july20">
    <mat-card-content>
      <p>       
     
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Callum Hudson-Odoi</mat-card-title>
      <mat-card-subtitle>Forward</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Hudson_Odoi_-_portrait_-_july20">
    <mat-card-content>
      <p>       
  
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>