<h1 class="header" style="text-align: center;">SQUAD</h1>
<div class="parent">
  <mat-card class="example-card" *ngFor="let player of players">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{player.player_name}} </mat-card-title>
      <mat-card-subtitle class="player-player_type">{{player.player_type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="player-image" [src]="player.image">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions class="playerinfobtn">
      <button mat-button (click)="searchPlayer(player.player_name)">
        Player Information
      </button>
      
    </mat-card-actions>
  </mat-card>
</div>