<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kepa Arrizabalaga </mat-card-title>
      <mat-card-subtitle>Goalkeeper</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_410,q_auto,w_350,z_1.0/v1/editorial/people/first-team/2020-21/portrait/Kepa_-_portrait_-_july20" alt="Photo of a Kepa">
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <div *ngFor="let player of players">
        {{player.name}}
        {{player.team}}
      <button mat-button (click)="searchPlayer(player.name)">
          Player Information
        <a routerLink="/home-page"></a>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>